{% extends 'base.html' %}
{% load static %}

{% block title %}
    La Limousine - Choose Movies
{% endblock title %}

{% block others %}
{% endblock others %}  

{% block content %}

    {% include "partials/navbar.html" %}
    <div class="bg-gray-5 container-fluid contenedor text-center">
        <h1 class=" bg-gray-50 font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 mx-auto text-gray-700 p-5">
            Sélectionnez au moins 3 films 
        </h1>
        <form method='POST' class="bg-gray-50 bg-opacity-70 min-h-full py-8 px-4 w-10/12 mx-auto rounded-md" action="/choosecharacters/">
            {% csrf_token %}
            <input class="w-11/12" type="text" name="user" id="id_user" value="{{ user }}" hidden>
            {% comment %} <input class="" type="password" name="password" id="id_bdate" value="{{ password }}" > {% endcomment %}
            <div class="row">
                {% for id, res in movies.items %}
                    {% if forloop.counter < 61 %}
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 container_foto ">
                            <img class=" h-80 rounded-3xl shadow-2xl" src="{{ res.poster }}" alt="">
                            <div class="text-center -mt-4 text-gray-900 rounded-3xl">
                                <input class="-mt-7" type="checkbox" name="id" id="id_name" value="{{ id }}"/>
                                <h4 class="tracking-wider">{{ res.title }}</h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="flex justify-center items-center">
                <button class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md">
                    Confirmer
                </button>
            </div>
        </form>
        
    </div>

{% endblock%}